.single {
  padding: 2px 16px;
  background: rgb(255, 251, 244);
  display: block;
  margin: 20px 10px;
  border-left: 8px solid rgb(255, 251, 244);
}
.single:hover {
  border-left: 8px solid #f8fa7d;
}
