@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
body {
  background: #d9f3a9;
  color: rgb(40, 116, 78);
  font-family: "Nunito";
}
a {
  color: rgb(40, 116, 78);
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid rgb(89, 153, 110);
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: rgb(89, 153, 110);
  border-top: 1px solid rgb(89, 153, 110);
}

.not-found {
  text-align: center;
}

.not-found a {
  color: rgb(89, 153, 110);
  text-decoration: underline;
}
